@if (!showAddTaskForm) {
  <div class="grid">
    <div class="col-12 xl:col-12" (click)="showTaskForm()">
      <div class="flex align-items-center gap-2">
        <i data-feather="plus-square" style="color:blue"></i>
        <span class="text-700 text-base font-normal mb-1">Type to add new task</span>
      </div>
    </div>
  </div>
}

@if (showAddTaskForm) {
  <div class="grid">
    <div class="col-12 xl:col-12">
      <div class="card shadow-2">
        <div class="flex align-items-center">
          <div class="inline-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
            <i data-feather="plus-square" style="color:blue"></i>
          </div>
          <div class="input-container">
  <!--          <span class="text-900 text-lg font-medium mb-2">Type to add new task</span>-->
            <input type="text" pInputText [(ngModel)]="taskName" placeholder="Type to add new task" style="width: 100%"/>
          </div>
          <div class="ml-auto mr-3">
            <img srcset="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                 width="25" height="25" shape="circle"/>
          </div>
        </div>

        <div class="flex align-items-center col-12 button-container">
          <div class="inline-flex align-items-center justify-content-center mr-3">
            <button pButton pRipple label="Open" icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                    [disabled]="true"
                    class="p-button-raised ml-2 p-button-secondary mr-5"></button>
            <button pButton pRipple label="Today" icon="pi pi-calendar"
                    [disabled]="true"
                    class="p-button-outlined ml-2 p-button-secondary"></button>
            <button pButton pRipple label="Public" icon="pi pi-lock-open"
                    [disabled]="true"
                    class="p-button-outlined ml-2 p-button-secondary"></button>
            <button pButton pRipple label="Normal" icon="pi pi-sun"
                    [disabled]="true"
                    class="p-button-outlined ml-2 p-button-secondary"></button>
            <button pButton pRipple label="Estimation" icon="pi pi-info-circle"
                    [disabled]="true"
                    class="p-button-outlined ml-2 p-button-secondary"></button>
          </div>
          <div class="ml-auto mr-3">
            <button pButton pRipple label="Cancel"
                    (click)="hideTaskForm()"
                    class="p-button-raised ml-2 p-button-secondary"></button>
            <button pButton pRipple label="Ok" class="p-button-raised ml-2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<!--  <div class="grid">-->
<!--    <div class="col-12 xl:col-12">-->
<!--      <p-panel class="shadow-2">-->
<!--        <ng-template pTemplate="header" style="background-color: white">-->
<!--          <div class="flex align-items-center gap-2">-->
<!--            <i data-feather="plus-square" style="color:blue"></i>-->

<!--            <span class="font-bold">-->
<!--                Amy Elsner-->
<!--            </span>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="footer">-->
<!--          <div class="flex flex-wrap align-items-center justify-content-between gap-3">-->
<!--            <div class="flex align-items-center gap-2">-->
<!--              <p-button icon="pi pi-user" rounded="true" text="true" />-->
<!--              <p-button icon="pi pi-bookmark" severity="secondary" rounded="true" text="true" />-->
<!--            </div>-->
<!--            <span class="p-text-secondary">-->
<!--                Updated 2 hours ago-->
<!--            </span>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="icons">-->
<!--          &lt;!&ndash;        <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">&ndash;&gt;-->
<!--          &lt;!&ndash;          <span class="pi pi-cog"></span>&ndash;&gt;-->
<!--          &lt;!&ndash;        </button>&ndash;&gt;-->
<!--          &lt;!&ndash;        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />&ndash;&gt;-->
<!--          <p-avatar-->
<!--            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"-->
<!--            size="normal"-->
<!--            shape="circle" />-->
<!--        </ng-template>-->
<!--        <p class="m-0">-->
<!--          Lorem ipsum dolor sit amet...-->
<!--        </p>-->
<!--      </p-panel>-->
<!--    </div>-->
<!--  </div>-->
